@tailwind base;
@tailwind components;
@tailwind utilities;

/* PP Neue Montreal - Medium */
@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: 500; /* Medium weight */
    font-style: normal;
    src: url('/static/src/PPNeueMontreal-Medium.woff2') format('woff2'),
         url('/static/src/PPNeueMontreal-Medium.woff') format('woff');
}

/* PP Neue Montreal - Regular */
@font-face {
    font-family: 'PP Neue Montreal';
    font-weight: 400; /* Regular weight */
    font-style: normal;
    src: url('/static/src/PPNeueMontreal-Regular.woff2') format('woff2'),
            url('/static/src/PPNeueMontreal-Regular.woff') format('woff');
}

/* PP Editorial New - Regular */
@font-face {
    font-family: 'PP Editorial New';
    font-weight: 400; /* Regular weight */
    font-style: normal;
    src: url('/static/src/PPEditorialNew-Regular.woff2') format('woff2'),
            url('/static/src/PPEditorialNew-Regular.woff') format('woff');
}

/* PP Editorial New - UltraLight */
@font-face {
    font-family: 'PP Editorial New';
    font-weight: 200; /* UltraLight weight */
    font-style: normal;
    src: url('/static/src/PPEditorialNew-Ultralight.woff2') format('woff2'),
            url('/static/src/PPEditorialNew-Ultralight.woff') format('woff');
}

/* PP Editorial New - UltraLight Italic */
@font-face {
    font-family: 'PP Editorial New';
    font-weight: 200; /* UltraLight weight */
    font-style: italic;
    src: url('/static/src/PPEditorialNew-UltralightItalic.woff2') format('woff2'),
            url('/static/src/PPEditorialNew-UltralightItalic.woff') format('woff');
}