<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title or 'Intavue.ai' }}</title>
    <link href="{{ url_for('static', filename='dist/css/style.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='dist/favicon.png') }}" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="bg-black-bg flex flex-col h-screen justify-between">

{% include 'navbar.html' %}

<!-- Main Content - Takes up all available space -->
<div class="flex-grow overflow-y-auto pt-2 font-neue-montreal text-white-700 h-screen bg-base-mesh bg-mesh-gradient">
    {% block content %}{% endblock %}
</div>


</style>

</body>
</html>
