<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title or 'Intavue.ai' }}</title>
    <link href="{{ url_for('static', filename='dist/css/style.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='dist/favicon.png') }}" type="image/x-icon">
</head>
<body class="bg-black-bg flex flex-col h-screen justify-between">

<div class="flex flex-col h-screen relative bg-base-mesh bg-mesh-gradient">

    <!-- Main Content - Stretched to fill available space, but centered -->
    <div class="flex-grow flex flex-col items-center justify-center overflow-y-auto pt-2 font-neue-montreal text-white-700 z-10">
        <div class="text-center">
            <img src="{{ url_for('static', filename='src/logo.svg')}}" alt="intavue.ai logo" class="h-14 w-auto mb-4">
            <p class="text-gray-800 text-xl mb-8">Enabling better user intervews</p>
        </div>
        <div>
            {% from "button_with_arrow.html" import button_with_arrow %}
            {{ button_with_arrow("Proceed to app", url_for('step_intro'), "a") }}
        </div>
    </div>

    <!-- Footer - Pinned to the bottom -->
    <div class="flex-shrink-0 text-center pb-4 z-10">
        <p class="text-gray-800 text-sm">Intavue.ai is an independent HCI Research Project by Tran, Venkitachalam, Parayno, Deja, and Deja.</p>
    </div>
</div>



</body>
</html>
