<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title or 'Intavue.ai' }}</title>
    <link href="{{ url_for('static', filename='dist/css/style.css')}}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='dist/favicon.png') }}" type="image/x-icon">
</head>
<body class="bg-black-bg flex flex-col h-screen justify-between">

{% include 'navbar.html' %}

<!-- Main Content - Takes up all available space -->
<div class="flex flex-col h-screen relative bg-base-mesh bg-mesh-gradient">
    <!-- Gradient overlay -->
    <div class="absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-50 z-0"></div>

    <!-- Content Block - To ensure it stays on top of gradient overlay -->
    <div class="flex-grow pt-2 font-neue-montreal text-white-700 z-10">
        {% block content %}{% endblock %}
    </div>
</div>

</style>

</body>
</html>
