<ul class="flex space-x-4 text-sm items-center">
    <div class="flex flex-col items-center">
        {% include 'icon_step_complete.html' %}
        <li class="text-gray-700 uppercase mt-2">Research</li>
    </div>
    <li>
        {% include 'icon_progress_active.html' %}             
    </li>
    <div class="flex flex-col items-center">
        <div class="rounded-full border-2 border-orange-900 flex items-center justify-center w-[39px] h-[39px]" >
            <p class="text-white-900">2</p>
        </div>
        <li class="text-white-900 uppercase mt-2">Transcript</li>
    </div>
    <li>
        {% include 'icon_progress_inactive.html' %}                  
    </li>
    <div class="flex flex-col items-center">
        <div class="rounded-full border-2 border-gray-900 flex items-center justify-center w-[39px] h-[39px]" >
            <p class="text-gray-900">3</p>
        </div>
        <li class="text-gray-700 uppercase mt-2">Results</li>
    </div>
</ul>