<!DOCTYPE html>
<html>
<head>
    <title>UX LLM - Confidence Test</title>
</head>
<body>
    <h1>UX LLM Confidence Test</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.question_answer.label }}<br>
            {{ form.question_answer }}
        </p>
        <p>
            {{ form.submit() }}
        </p>

    </form>
    <!-- display result -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% if result %}
        <h2>Result:</h2>
        <p>{{ result }}</p>
    {% endif %}
</body>
</html>
