{% extends 'app_layout.html' %}

{% block content %}
<div class="container mx-auto min-h-full flex flex-col items-center justify-center py-4">
    <h1 class="text-4xl font-bold mb-6 font-editorial-new text-white-900 font-extralight">Thank you for taking part in our research!</h1>
    <div class="text-xl text-center">
        <p class="mb-2 mt-2">We are happy to see that you have come this far. Help us by filling out a short survey, this helps us build better tools for users like yourself.</p>
        <p class="mb-2 mt-2">Note: Continuing to the survey will redirect you to an external page (Google Forms)</p>
    </div>

    <!-- Continue button -->
    {% from "button_with_arrow.html" import button_with_arrow %}
    <div class="mt-9">
        {{ button_with_arrow("Continue to survey", "#", "a") }}
    </div>

</div>

{% include 'footer.html'%}
{% endblock %}